@import "tailwindcss";

/* 글로벌 CSS 추가 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .spinner {
    width: 18px;
    height: 18px;
    border: 2px solid #4092bf;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  

  .markdown-body ol {
    list-style: decimal;
    padding-left: 2rem; /* 번호와 텍스트 간격 조정 */
  }
  
  .markdown-body ul {
    list-style: disc;
    padding-left: 2rem;
  }